<div class="default-container">
	<div class="default-content">
		<div class="column about">
			<h2>About Me</h2>
			<p>Hello! My name is Hyago, I'm 20 years old, I live in Brazil
				and I'm a Full Stack developer. How about we
				start a new project?</p>
		</div>

		<div class="column">
			<h2>Contact</h2>
			<p>hyago.v.a.m@gmail.com</p>
			<p>(92) 991271930</p>
		</div>

		<div class="column">
			<h2>Social</h2>
			<a href="">Likedin</a>
			<a href="">Github</a>
			<a href="">Instagram</a>
		</div>
	</div>
</div>