@import '../../../styles'
	
.default-container
	height: 70px

.default-content
	display: flex
	justify-content: space-between
	align-items: center

.title
	font-size: $font-03
	font-weight: 600
	color: $theme-02
	cursor: pointer

.menu-icon
	background-color: white
	width: 40px
	height: 40px


.desktop-menu
	display: none

@media (min-width: 1200px)
	.menu-icon
		display: none

	.desktop-menu
		display: flex
		justify-content: space-between
		gap: 70px

	.option
		font-size: $font-03
		cursor: pointer

