<div class="project-container">
	<figure class="project-image"></figure>
	<h2 class="project-title">{{project.name}}</h2>
	<ul class="project-techs">
		<li *ngFor="let tech of project.techs" class="project-tech">{{tech.name}}</li>
	</ul>
	<div class="project-buttons">
		<div class="project-button">
			<p>Github code</p>
			<app-svg-provider class="button-icon" [path]="'assets/github-icon.svg'" />
		</div>
		<div class="project-button demo">
			<p>See demo</p>
			<app-svg-provider class="button-icon" [path]="'assets/arrow-icon.svg'" />
		</div>
	</div>
</div>