<div id="presentation" class="default-container">
	<div class="default-content">
		<div class="image-container">
			<figure class="image"></figure>
			<div class="social-container">
				<app-svg-provider class="social" [path]="'assets/github-icon.svg'" />
				<app-svg-provider class="social" [path]="'assets/linkedin-icon.svg'" />
				<app-svg-provider class="social" [path]="'assets/instagram-icon.svg'" />
			</div>
		</div>

		<div class="text-container">
			<h1 class="title">Hi, I am <br> <span class="highlight">Full Stack</span> Developer!</h1>
			<button class="presentation-button">See my projects</button>
		</div>
	</div>
</div>